.container-cart {
    color: black;
    padding-top: 1%;
    padding-left: 15%;
}

.text {
    padding-left: 38%;
}

.btn-increase {
    background-color: red;
    color: #fff;
    padding: 3%;
}

.btn-decrease {
    background-color: pink;
    padding: 3%;
}

.table-cart{
    width: 900px;
}