.contrainer-over-H{
    margin-left: 16%;
    margin-top: 4%;
}

td {
    text-align: center;
    color: black;
    font-size: 25px;
    overflow: auto;
}

.btnedit a {
    color: white;
    text-decoration: none;
}

.popup-edit {
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 20px;
}

.popup-content-edit {
    width: 400px;
    height: 250px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s;
}
.popup-edit h3 {
    font-size: .7em;
    margin-left: 15%;
    margin-bottom: 1rem;
}

.popup-edit .form-group {
    margin-top: 5%;
    margin-bottom: 1rem;
}

.popup-edit label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 27px;
    color: black;
}

.popup-edit input[type="text"],
.popup-edit input[type="number"],
.popup-edit textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

.popup-edit button[type="submit"] {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: #1E90FF;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.popup-edit button[type="button"] {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: red;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.radio-buttons label {
    display: inline-block;
    margin-right: 10px;
}

.radio-buttons input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
}